<!-- SeuComponente.component.html -->
<!-- pessoa-listar.component.html -->
<h1>Eventos</h1>

<div class="card-container">
  <div *ngFor="let evento of eventos" class="card">
    <div class="card-header">
      <h2>ID: {{ evento.eventoId }}</h2>
    </div>
    <div class="card-body">
      <p><strong>Descrição:</strong> {{ evento.descricao }}</p>
      <p><strong>ONG:</strong> {{ evento.ong?.nome }}</p>
      <p>
        <strong>Data do Evento:</strong>
        {{ evento.dataEvento | date : "dd/MM/yyyy" }}
      </p>
      <p>
        <strong>Criado Em:</strong>
        {{ evento.criadoEm | date : "dd/MM/yyyy HH:mm:ss" }}
      </p>
    </div>
    <div class="card-footer">
      <button (click)="deletar(evento.eventoId)">Deletar</button>
      <button (click)="atualizar(evento.eventoId)">atualizar</button>
      <!-- Adicione aqui o código para a ação de alterar -->
    </div>
  </div>
</div>
