/* seu-componente.component.css */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Adiciona a animação de transformação e sombra */
  border: 1px solid #ddd; /* Adiciona uma borda sutil */
  padding: 10px; /* Adiciona padding interno */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

.mat-card-header {
  background-color: #3498db;
  color: #ffffff;
  padding: 16px;
}

.mat-card-title,
.mat-card-subtitle {
  color: #ffffff;
}

.mat-card-content {
  padding: 16px;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.mat-icon-button {
  color: #e74c3c;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #c0392b;
  }
}
