<!-- evento-listar.component.html -->
<div class="card-container">
  <div *ngFor="let evento of eventos" class="card">
    <div class="card-header">
      <h2>{{ evento.nome }}</h2>
    </div>
    <div class="card-body">
      <p><strong>Descrição:</strong> {{ evento.descricao }}</p>
      <p><strong>ONG:</strong> {{ evento.ong?.nome }}</p>
      <p>
        <strong>Data do Evento:</strong>
        {{ evento.dataEvento | date : "dd/MM/yyyy" }}
      </p>
      <p>
        <strong>Criado Em:</strong>
        {{ evento.criadoEm | date : "dd/MM/yyyy" }}
      </p>
      <p><strong>ID do evento:</strong> {{ evento.eventoId }}</p>
    </div>
    <div class="card-footer">
      <button mat-button color="warn" (click)="deletar(evento.eventoId)">
        Deletar
      </button>
      <button mat-button color="primary" (click)="atualizar(evento.eventoId)">
        Atualizar
      </button>
    </div>
  </div>
</div>
