<!-- ong-cadastrar.component.html -->
<div class="container">
  <form (submit)="cadastrar()" #ongForm="ngForm">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" [(ngModel)]="nome" name="nome" required>
    </div>
    <div class="form-group">
      <label for="missao">Missão:</label>
      <textarea id="missao" [(ngModel)]="missao" name="missao" required></textarea>
    </div>
    <div class="form-group">
      <label for="historico">Histórico:</label>
      <textarea id="historico" [(ngModel)]="historico" name="historico" required></textarea>
    </div>
    <div class="form-group">
      <label for="informacoesContato">Informações de Contato:</label>
      <textarea id="informacoesContato" [(ngModel)]="informacoesContato" name="informacoesContato" required></textarea>
    </div>
    <button type="submit" mat-stroked-button color="primary" [disabled]="!ongForm.form.valid">Cadastrar</button>
  </form>
</div>
