<!-- pessoa-listar.component.html -->
<div class="card-container shared-style">
  <div *ngFor="let pessoa of pessoas" class="card">
    <div class="card-header">
      <h2>{{ pessoa.nome }}</h2>
    </div>
    <div class="card-body">
      <p><strong>ID Pessoa:</strong> {{ pessoa.pessoaId }}</p>
      <p><strong>Endereço:</strong> {{ pessoa.endereco }}</p>
      <p><strong>Número de Telefone:</strong> {{ pessoa.numeroTelefone }}</p>
      <p><strong>Email:</strong> {{ pessoa.email }}</p>
      <p><strong>Animal ID:</strong> {{ pessoa.animalId }}</p>
      <p><strong>Animal:</strong> {{ pessoa.animal?.nome }}</p>

      <p>
        <strong>Criado Em:</strong>
        {{ pessoa.criadoEm | date : "dd/MM/yyyy HH:mm:ss" }}
      </p>
    </div>
    <div class="card-footer">
      <button mat-button color="warn" (click)="deletar(pessoa.pessoaId)">
        Deletar
      </button>
      <button mat-button color="primary" (click)="atualizar(pessoa.pessoaId)">
        Atualizar
      </button>
      <!-- Adicione aqui o código para a ação de alterar -->
    </div>
  </div>
</div>
