<!-- ong-listar.component.html -->
<div class="card-container">
  <div *ngFor="let ong of ongs" class="card">
    <div class="card-header">
      <h2>{{ ong.nome }}</h2>
    </div>
    <div class="card-body">
      <p><strong>Missão:</strong> {{ ong.missao }}</p>
      <p><strong>Histórico:</strong> {{ ong.historico }}</p>
      <p>
        <strong>Informações de Contato:</strong> {{ ong.informacoesContato }}
      </p>
      <p>
        <strong>Criado em:</strong> {{ ong.criadoEm | date : "dd/MM/yyyy" }}
      </p>
      <!-- Add more attributes here based on your ONG model -->
    </div>
    <div class="card-footer">
      <mat-card-actions>
        <div class="card-footer">
          <button mat-button color="warn" (click)="deletar(ong.ongId)">
            Deletar
          </button>
          <button mat-button color="primary" (click)="atualizar(ong.ongId)">
            Atualizar
          </button>
          <!-- Add code here for other actions if needed -->
        </div>
      </mat-card-actions>
    </div>
  </div>
</div>
