<div class="container">
  <h2>Cadastrar Evento</h2>
  <form (submit)="cadastrar()" #eventoForm="ngForm">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" [(ngModel)]="nome" name="nome" required>
    </div>
    <div class="form-group">
      <label for="descricao">Descrição:</label>
      <textarea id="descricao" [(ngModel)]="descricao" name="descricao" required></textarea>
    </div>
    <div class="form-group">
      <label for="ongId">ONG:</label>
      <select id="ongId" [(ngModel)]="ongId" name="ongId" required>
        <option *ngFor="let ong of ongs" [value]="ong.ongId">{{ ong.nome }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="dataEvento">Data do Evento:</label>
      <input type="date" id="dataEvento" [(ngModel)]="dataEvento" name="dataEvento" required>
    </div>
    <button type="submit" mat-stroked-button color="primary" [disabled]="!eventoForm.form.valid">Cadastrar</button>
  </form>
</div>
