<!-- animal-listar.component.html -->
<div class="card-container">
  <div *ngFor="let animal of animais" class="card">
    <div class="card-header">
      <h2>{{ animal.nome }}</h2>
    </div>
    <div class="card-body">
      <p><strong>ID:</strong> {{ animal.animalId }}</p>
      <p><strong>Idade:</strong> {{ animal.idade }}</p>
      <p><strong>Espécie:</strong> {{ animal.especie }}</p>
      <p><strong>Raça:</strong> {{ animal.raca }}</p>
      <p><strong>Porte:</strong> {{ animal.porte }}</p>
      <p><strong>Comportamento:</strong> {{ animal.comportamento }}</p>
      <p><strong>Descrição:</strong> {{ animal.descricao }}</p>
      <p><strong>Foto:</strong> {{ animal.foto }}</p>
      <p><strong>Video:</strong> {{ animal.video }}</p>
      <p><strong>ONG:</strong> {{ animal.ong?.nome }}</p>
      <!-- You can add more attributes here based on your model -->
    </div>
    <div class="card-footer">
      <mat-card-actions>
        <div class="card-footer">
          <button mat-button color="warn" (click)="deletar(animal.animalId)">
            Deletar
          </button>
          <button
            mat-button
            color="primary"
            (click)="atualizar(animal.animalId)"
          >
            Atualizar
          </button>
          <!-- Add code here for other actions if needed -->
        </div>
      </mat-card-actions>
    </div>
  </div>
</div>
